body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    background-color: black;
}

html,
body,
#root,
#app {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    background-color: var(--background);
    transition: background-color 0.4s;
}

section {
    margin: 0.5rem;
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: wait;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    background-color: var(--background-secondary);
}

/* Small screen nav flips to the bottom */
@media all and (max-width: 800px) {
    nav {
        display: none;
    }
}

h1, h3 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.25rem 0;
    text-align: center;
    border-bottom: 2px solid var(--background-secondary);
}

h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.margin-left {
    margin-left: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.icon-dummy {
    width: 24px;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 40rem;
}

li {
    display: flex;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 10px;
}

form {
    max-width: 40rem;
    margin: 0 auto 0.5rem auto;

}

form > div {
    display: flex;
    flex-direction: column;
}

form > div.checkmark {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

label {
    font-weight: bold;
    margin-top: 0.5rem;
}

input {
    display: block;
    width: 100%;
    font: inherit;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--text-primary);
    background-color: var(--background-secondary);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--accent);
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    transition: border 0.25s;
}

input:focus {
    border-bottom: 2px solid var(--text-primary);
}

button {
    color: var(--text-primary);
    background-color: var(--background-secondary);
    font-size: 1.25rem;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    opacity: 75%;
    transition: opacity 0.25s;
}

button:hover,
button:active {
    opacity: 100%;
}

.frequency-unit {
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0;
}

.frequency-unit-item {
    padding: 1rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--background);
    border-radius: 10px;
    cursor: pointer;
    opacity: 75%;
}

.frequency-unit-item:hover,
.frequency-unit-item:active {
    opacity: 100%;
}

.frequency-unit-item.selected {
    background-color: var(--accent);
}