
:root {
    --background: black;
    --background-secondary: #444444;
    --text-primary: white;
    --text-secondary: grey;
    --accent: #2196F3;

    --done: #60c689;
    --miss: #e91e63;
}

[data-theme='light'] {
    --background: white;
    --background-secondary: #dddddd;
    --text-primary: black;
    --text-secondary: #444444;
    --accent: #2196F3;
}

li {
    background-color: var(--background-secondary);
    transition: box-shadow 1s;
}

.todo-done {
    box-shadow: inset -20px 0em 0em 0px var(--done);
}

.todo-missed {
    box-shadow: inset 20px 0em 0em 0px var(--miss);
}

.todo-today {
    box-shadow: inset 20px 0em 0em 0px var(--accent);
}

.todo-future {
    box-shadow: inset -20px 0em 0em 0px var(--background-secondary);
}

.check-done {
    color: var(--done);
}

.check-missed {
    color: var(--miss);
}

.check-today {
    color: var(--accent);
}

.check-future {
    color: var(--text-primary);
}

.todo-item-appear {
    opacity: 0;
    transform: translateY(-10px);
}

.todo-item-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.spinner-container {
    display: flex;
    justify-content: center;
}

.spinner {
    padding: 0.2rem;
    width: 2rem;
    height: 2rem;
    font-size: 33px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}