
:root {
    --background: white;
    --background-secondary: #dddddd;
    --text-primary: black;
    --text-secondary: #444444;
    --accent: #2196F3;
}

[data-theme='dark'] {
    --background: black;
    --background-secondary: #444444;
    --text-primary: white;
    --text-secondary: grey;
    --accent: #2196F3;
}

li {
    background-color: var(--background-secondary);
    transition: box-shadow 1s;
}

.todo-done {
    box-shadow: inset -20px 0em 0em 0px #60c689;
}

.todo-missed {
    box-shadow: inset 20px 0em 0em 0px #e91e63;
}

.todo-today {
    box-shadow: inset 20px 0em 0em 0px var(--accent);
}

.todo-future {
    box-shadow: inset 20px 0em 0em 0px var(--background-secondary);
}

.check {
    color: #60c689;
}