html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    margin: 0.5rem;
    flex-grow: 1;
    overflow-y: scroll;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    background-color: darkgrey;
}

/* Small screen nav flips to the bottom */
@media all and (max-width: 800px) {
    #root > :nth-child(1) { order: 3; }
    #root > :nth-child(2) { order: 1; }
    #root > :nth-child(3) { order: 2; }

    nav {
        height: 5rem;
        font-size: 2rem;
    }

    nav > span {
        background-color: grey;
        width: 1px;
    }
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    margin: 2rem auto;
    padding: 0;
    max-width: 40rem;
}

li {
    display: flex;
    margin: 1rem 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #f7f5ef;
}

form {
    max-width: 40rem;
    margin: 2rem auto;

}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input {
    display: block;
    width: 100%;
    font: inherit;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #f7f5ef;
    border: none;
    border-bottom: 2px solid #494844;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

form button {
    font: inherit;
    background-color: #ebb002;
    border: 1px solid #ebb002;
    color: #201d0f;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover,
form button:active {
    background-color: #ebc002;
    border-color: #ebc002;
}